/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ico-0465-pinterest-name: 'ico-0465-pinterest';
$ico-0465-pinterest-x: 53px;
$ico-0465-pinterest-y: 0px;
$ico-0465-pinterest-offset-x: -53px;
$ico-0465-pinterest-offset-y: 0px;
$ico-0465-pinterest-width: 48px;
$ico-0465-pinterest-height: 48px;
$ico-0465-pinterest-total-width: 313px;
$ico-0465-pinterest-total-height: 260px;
$ico-0465-pinterest-image: 'sprite.png';
$ico-0465-pinterest: (53px, 0px, -53px, 0px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0465-pinterest', );
$ico-0466-pinterest2-name: 'ico-0466-pinterest2';
$ico-0466-pinterest2-x: 53px;
$ico-0466-pinterest2-y: 159px;
$ico-0466-pinterest2-offset-x: -53px;
$ico-0466-pinterest2-offset-y: -159px;
$ico-0466-pinterest2-width: 48px;
$ico-0466-pinterest2-height: 48px;
$ico-0466-pinterest2-total-width: 313px;
$ico-0466-pinterest2-total-height: 260px;
$ico-0466-pinterest2-image: 'sprite.png';
$ico-0466-pinterest2: (53px, 159px, -53px, -159px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0466-pinterest2', );
$ico-0467-xing-name: 'ico-0467-xing';
$ico-0467-xing-x: 0px;
$ico-0467-xing-y: 53px;
$ico-0467-xing-offset-x: 0px;
$ico-0467-xing-offset-y: -53px;
$ico-0467-xing-width: 48px;
$ico-0467-xing-height: 48px;
$ico-0467-xing-total-width: 313px;
$ico-0467-xing-total-height: 260px;
$ico-0467-xing-image: 'sprite.png';
$ico-0467-xing: (0px, 53px, 0px, -53px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0467-xing', );
$ico-0468-xing2-name: 'ico-0468-xing2';
$ico-0468-xing2-x: 53px;
$ico-0468-xing2-y: 53px;
$ico-0468-xing2-offset-x: -53px;
$ico-0468-xing2-offset-y: -53px;
$ico-0468-xing2-width: 48px;
$ico-0468-xing2-height: 48px;
$ico-0468-xing2-total-width: 313px;
$ico-0468-xing2-total-height: 260px;
$ico-0468-xing2-image: 'sprite.png';
$ico-0468-xing2: (53px, 53px, -53px, -53px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0468-xing2', );
$ico-0469-flattr-name: 'ico-0469-flattr';
$ico-0469-flattr-x: 106px;
$ico-0469-flattr-y: 0px;
$ico-0469-flattr-offset-x: -106px;
$ico-0469-flattr-offset-y: 0px;
$ico-0469-flattr-width: 48px;
$ico-0469-flattr-height: 48px;
$ico-0469-flattr-total-width: 313px;
$ico-0469-flattr-total-height: 260px;
$ico-0469-flattr-image: 'sprite.png';
$ico-0469-flattr: (106px, 0px, -106px, 0px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0469-flattr', );
$ico-0470-foursquare-name: 'ico-0470-foursquare';
$ico-0470-foursquare-x: 106px;
$ico-0470-foursquare-y: 53px;
$ico-0470-foursquare-offset-x: -106px;
$ico-0470-foursquare-offset-y: -53px;
$ico-0470-foursquare-width: 48px;
$ico-0470-foursquare-height: 48px;
$ico-0470-foursquare-total-width: 313px;
$ico-0470-foursquare-total-height: 260px;
$ico-0470-foursquare-image: 'sprite.png';
$ico-0470-foursquare: (106px, 53px, -106px, -53px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0470-foursquare', );
$ico-0471-paypal-name: 'ico-0471-paypal';
$ico-0471-paypal-x: 0px;
$ico-0471-paypal-y: 106px;
$ico-0471-paypal-offset-x: 0px;
$ico-0471-paypal-offset-y: -106px;
$ico-0471-paypal-width: 48px;
$ico-0471-paypal-height: 48px;
$ico-0471-paypal-total-width: 313px;
$ico-0471-paypal-total-height: 260px;
$ico-0471-paypal-image: 'sprite.png';
$ico-0471-paypal: (0px, 106px, 0px, -106px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0471-paypal', );
$ico-0472-paypal2-name: 'ico-0472-paypal2';
$ico-0472-paypal2-x: 53px;
$ico-0472-paypal2-y: 106px;
$ico-0472-paypal2-offset-x: -53px;
$ico-0472-paypal2-offset-y: -106px;
$ico-0472-paypal2-width: 48px;
$ico-0472-paypal2-height: 48px;
$ico-0472-paypal2-total-width: 313px;
$ico-0472-paypal2-total-height: 260px;
$ico-0472-paypal2-image: 'sprite.png';
$ico-0472-paypal2: (53px, 106px, -53px, -106px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0472-paypal2', );
$ico-0473-paypal3-name: 'ico-0473-paypal3';
$ico-0473-paypal3-x: 106px;
$ico-0473-paypal3-y: 106px;
$ico-0473-paypal3-offset-x: -106px;
$ico-0473-paypal3-offset-y: -106px;
$ico-0473-paypal3-width: 48px;
$ico-0473-paypal3-height: 48px;
$ico-0473-paypal3-total-width: 313px;
$ico-0473-paypal3-total-height: 260px;
$ico-0473-paypal3-image: 'sprite.png';
$ico-0473-paypal3: (106px, 106px, -106px, -106px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0473-paypal3', );
$ico-0474-yelp-name: 'ico-0474-yelp';
$ico-0474-yelp-x: 159px;
$ico-0474-yelp-y: 0px;
$ico-0474-yelp-offset-x: -159px;
$ico-0474-yelp-offset-y: 0px;
$ico-0474-yelp-width: 48px;
$ico-0474-yelp-height: 48px;
$ico-0474-yelp-total-width: 313px;
$ico-0474-yelp-total-height: 260px;
$ico-0474-yelp-image: 'sprite.png';
$ico-0474-yelp: (159px, 0px, -159px, 0px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0474-yelp', );
$ico-0475-file-pdf-name: 'ico-0475-file-pdf';
$ico-0475-file-pdf-x: 159px;
$ico-0475-file-pdf-y: 53px;
$ico-0475-file-pdf-offset-x: -159px;
$ico-0475-file-pdf-offset-y: -53px;
$ico-0475-file-pdf-width: 48px;
$ico-0475-file-pdf-height: 48px;
$ico-0475-file-pdf-total-width: 313px;
$ico-0475-file-pdf-total-height: 260px;
$ico-0475-file-pdf-image: 'sprite.png';
$ico-0475-file-pdf: (159px, 53px, -159px, -53px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0475-file-pdf', );
$ico-0476-file-openoffice-name: 'ico-0476-file-openoffice';
$ico-0476-file-openoffice-x: 159px;
$ico-0476-file-openoffice-y: 106px;
$ico-0476-file-openoffice-offset-x: -159px;
$ico-0476-file-openoffice-offset-y: -106px;
$ico-0476-file-openoffice-width: 48px;
$ico-0476-file-openoffice-height: 48px;
$ico-0476-file-openoffice-total-width: 313px;
$ico-0476-file-openoffice-total-height: 260px;
$ico-0476-file-openoffice-image: 'sprite.png';
$ico-0476-file-openoffice: (159px, 106px, -159px, -106px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0476-file-openoffice', );
$ico-0477-file-word-name: 'ico-0477-file-word';
$ico-0477-file-word-x: 0px;
$ico-0477-file-word-y: 159px;
$ico-0477-file-word-offset-x: 0px;
$ico-0477-file-word-offset-y: -159px;
$ico-0477-file-word-width: 48px;
$ico-0477-file-word-height: 48px;
$ico-0477-file-word-total-width: 313px;
$ico-0477-file-word-total-height: 260px;
$ico-0477-file-word-image: 'sprite.png';
$ico-0477-file-word: (0px, 159px, 0px, -159px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0477-file-word', );
$ico-0478-file-excel-name: 'ico-0478-file-excel';
$ico-0478-file-excel-x: 0px;
$ico-0478-file-excel-y: 0px;
$ico-0478-file-excel-offset-x: 0px;
$ico-0478-file-excel-offset-y: 0px;
$ico-0478-file-excel-width: 48px;
$ico-0478-file-excel-height: 48px;
$ico-0478-file-excel-total-width: 313px;
$ico-0478-file-excel-total-height: 260px;
$ico-0478-file-excel-image: 'sprite.png';
$ico-0478-file-excel: (0px, 0px, 0px, 0px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0478-file-excel', );
$ico-0479-libreoffice-name: 'ico-0479-libreoffice';
$ico-0479-libreoffice-x: 106px;
$ico-0479-libreoffice-y: 159px;
$ico-0479-libreoffice-offset-x: -106px;
$ico-0479-libreoffice-offset-y: -159px;
$ico-0479-libreoffice-width: 48px;
$ico-0479-libreoffice-height: 48px;
$ico-0479-libreoffice-total-width: 313px;
$ico-0479-libreoffice-total-height: 260px;
$ico-0479-libreoffice-image: 'sprite.png';
$ico-0479-libreoffice: (106px, 159px, -106px, -159px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0479-libreoffice', );
$ico-0480-html5-name: 'ico-0480-html5';
$ico-0480-html5-x: 159px;
$ico-0480-html5-y: 159px;
$ico-0480-html5-offset-x: -159px;
$ico-0480-html5-offset-y: -159px;
$ico-0480-html5-width: 48px;
$ico-0480-html5-height: 48px;
$ico-0480-html5-total-width: 313px;
$ico-0480-html5-total-height: 260px;
$ico-0480-html5-image: 'sprite.png';
$ico-0480-html5: (159px, 159px, -159px, -159px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0480-html5', );
$ico-0481-html52-name: 'ico-0481-html52';
$ico-0481-html52-x: 212px;
$ico-0481-html52-y: 0px;
$ico-0481-html52-offset-x: -212px;
$ico-0481-html52-offset-y: 0px;
$ico-0481-html52-width: 48px;
$ico-0481-html52-height: 48px;
$ico-0481-html52-total-width: 313px;
$ico-0481-html52-total-height: 260px;
$ico-0481-html52-image: 'sprite.png';
$ico-0481-html52: (212px, 0px, -212px, 0px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0481-html52', );
$ico-0482-css3-name: 'ico-0482-css3';
$ico-0482-css3-x: 212px;
$ico-0482-css3-y: 53px;
$ico-0482-css3-offset-x: -212px;
$ico-0482-css3-offset-y: -53px;
$ico-0482-css3-width: 48px;
$ico-0482-css3-height: 48px;
$ico-0482-css3-total-width: 313px;
$ico-0482-css3-total-height: 260px;
$ico-0482-css3-image: 'sprite.png';
$ico-0482-css3: (212px, 53px, -212px, -53px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0482-css3', );
$ico-0483-git-name: 'ico-0483-git';
$ico-0483-git-x: 212px;
$ico-0483-git-y: 106px;
$ico-0483-git-offset-x: -212px;
$ico-0483-git-offset-y: -106px;
$ico-0483-git-width: 48px;
$ico-0483-git-height: 48px;
$ico-0483-git-total-width: 313px;
$ico-0483-git-total-height: 260px;
$ico-0483-git-image: 'sprite.png';
$ico-0483-git: (212px, 106px, -212px, -106px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0483-git', );
$ico-0484-svg-name: 'ico-0484-svg';
$ico-0484-svg-x: 212px;
$ico-0484-svg-y: 159px;
$ico-0484-svg-offset-x: -212px;
$ico-0484-svg-offset-y: -159px;
$ico-0484-svg-width: 48px;
$ico-0484-svg-height: 48px;
$ico-0484-svg-total-width: 313px;
$ico-0484-svg-total-height: 260px;
$ico-0484-svg-image: 'sprite.png';
$ico-0484-svg: (212px, 159px, -212px, -159px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0484-svg', );
$ico-0485-codepen-name: 'ico-0485-codepen';
$ico-0485-codepen-x: 0px;
$ico-0485-codepen-y: 212px;
$ico-0485-codepen-offset-x: 0px;
$ico-0485-codepen-offset-y: -212px;
$ico-0485-codepen-width: 48px;
$ico-0485-codepen-height: 48px;
$ico-0485-codepen-total-width: 313px;
$ico-0485-codepen-total-height: 260px;
$ico-0485-codepen-image: 'sprite.png';
$ico-0485-codepen: (0px, 212px, 0px, -212px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0485-codepen', );
$ico-0486-chrome-name: 'ico-0486-chrome';
$ico-0486-chrome-x: 53px;
$ico-0486-chrome-y: 212px;
$ico-0486-chrome-offset-x: -53px;
$ico-0486-chrome-offset-y: -212px;
$ico-0486-chrome-width: 48px;
$ico-0486-chrome-height: 48px;
$ico-0486-chrome-total-width: 313px;
$ico-0486-chrome-total-height: 260px;
$ico-0486-chrome-image: 'sprite.png';
$ico-0486-chrome: (53px, 212px, -53px, -212px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0486-chrome', );
$ico-0487-firefox-name: 'ico-0487-firefox';
$ico-0487-firefox-x: 106px;
$ico-0487-firefox-y: 212px;
$ico-0487-firefox-offset-x: -106px;
$ico-0487-firefox-offset-y: -212px;
$ico-0487-firefox-width: 48px;
$ico-0487-firefox-height: 48px;
$ico-0487-firefox-total-width: 313px;
$ico-0487-firefox-total-height: 260px;
$ico-0487-firefox-image: 'sprite.png';
$ico-0487-firefox: (106px, 212px, -106px, -212px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0487-firefox', );
$ico-0488-i-e-name: 'ico-0488-IE';
$ico-0488-i-e-x: 159px;
$ico-0488-i-e-y: 212px;
$ico-0488-i-e-offset-x: -159px;
$ico-0488-i-e-offset-y: -212px;
$ico-0488-i-e-width: 48px;
$ico-0488-i-e-height: 48px;
$ico-0488-i-e-total-width: 313px;
$ico-0488-i-e-total-height: 260px;
$ico-0488-i-e-image: 'sprite.png';
$ico-0488-i-e: (159px, 212px, -159px, -212px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0488-IE', );
$ico-0489-opera-name: 'ico-0489-opera';
$ico-0489-opera-x: 212px;
$ico-0489-opera-y: 212px;
$ico-0489-opera-offset-x: -212px;
$ico-0489-opera-offset-y: -212px;
$ico-0489-opera-width: 48px;
$ico-0489-opera-height: 48px;
$ico-0489-opera-total-width: 313px;
$ico-0489-opera-total-height: 260px;
$ico-0489-opera-image: 'sprite.png';
$ico-0489-opera: (212px, 212px, -212px, -212px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0489-opera', );
$ico-0490-safari-name: 'ico-0490-safari';
$ico-0490-safari-x: 265px;
$ico-0490-safari-y: 0px;
$ico-0490-safari-offset-x: -265px;
$ico-0490-safari-offset-y: 0px;
$ico-0490-safari-width: 48px;
$ico-0490-safari-height: 48px;
$ico-0490-safari-total-width: 313px;
$ico-0490-safari-total-height: 260px;
$ico-0490-safari-image: 'sprite.png';
$ico-0490-safari: (265px, 0px, -265px, 0px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0490-safari', );
$ico-0491-ico-moon-name: 'ico-0491-IcoMoon';
$ico-0491-ico-moon-x: 265px;
$ico-0491-ico-moon-y: 53px;
$ico-0491-ico-moon-offset-x: -265px;
$ico-0491-ico-moon-offset-y: -53px;
$ico-0491-ico-moon-width: 48px;
$ico-0491-ico-moon-height: 48px;
$ico-0491-ico-moon-total-width: 313px;
$ico-0491-ico-moon-total-height: 260px;
$ico-0491-ico-moon-image: 'sprite.png';
$ico-0491-ico-moon: (265px, 53px, -265px, -53px, 48px, 48px, 313px, 260px, 'sprite.png', 'ico-0491-IcoMoon', );
$spritesheet-width: 313px;
$spritesheet-height: 260px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($ico-0465-pinterest, $ico-0466-pinterest2, $ico-0467-xing, $ico-0468-xing2, $ico-0469-flattr, $ico-0470-foursquare, $ico-0471-paypal, $ico-0472-paypal2, $ico-0473-paypal3, $ico-0474-yelp, $ico-0475-file-pdf, $ico-0476-file-openoffice, $ico-0477-file-word, $ico-0478-file-excel, $ico-0479-libreoffice, $ico-0480-html5, $ico-0481-html52, $ico-0482-css3, $ico-0483-git, $ico-0484-svg, $ico-0485-codepen, $ico-0486-chrome, $ico-0487-firefox, $ico-0488-i-e, $ico-0489-opera, $ico-0490-safari, $ico-0491-ico-moon, );
$spritesheet: (313px, 260px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
