link(rel="stylesheet", href="templ.css")
link(rel="stylesheet", href="templ1.css")
link(rel="stylesheet", href="templ2.css")

h1 Component loaded1
ul
	li
		a(href="") afsfasfa
	li
		a(href="") afsfasfa1
