include _variables
include _mixins

+script([], ['debug.js', 'common.min.js'])

doctype html
html(lang='ru')
	head
		block head
			include _head

	body
		block header
			include _header

		block content

		block footer
			include _footer

		include _scripts