//[HEADER]
header.main-header
	.container
		.row
			ul.nav.nav-justified
				li.active
					a(href='#') Продукция
				li
					a(href='#') Партнеры
				li
					a(href='#')
						img(src="bitrix/templates/dvt.chabaa/images/abtrade.png" alt="")
				li
					a(href='#') Новости
				li
					a(href='#') Контакты
		//.row
	//.container
//[END-HEADER]
