+script([], ['ssfsfs/commonicus1.min.js'])

meta(charset='utf-8')
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
title New project
link(rel='stylesheet', href='bitrix/templates/dvt.chabaa/styles.css')