//- mixin callComp(cmp_ns, cmp_name, tpl_example)
//- 	- var source = '../components/' + cmp_ns + '/' + cmp_name + '/' + tpl_example + '/template';
//- 	include ../components/cmp_ns/cmp_name/tpl_example/template

- var pageScripts = pageScripts || [[], [], []];
- var pageStyles = pageStyles || [[], [], []];

mixin renderScript(scripts)
	each src in scripts
		- var isExternalScript = /^(?:https?\:)?\/\//i;
		- src = isExternalScript.test(src) ? src : 'scripts/' + src;
		script(src=src)

mixin script()
	- var args = arguments;
	each scripts, i in args
		each src in scripts
			- var index = args[1] === true ? 2 : i === 0 ? 1 : 0;
			if pageScripts[index].indexOf(src) === -1
				- pageScripts[index].push(src);

mixin scripts()
	+renderScript([].concat.apply([], pageScripts))


mixin renderStyle(styles)
	each src_s in styles
		- var isExternalScript_s = /^(?:https?\:)?\/\//i;
		- src_s = isExternalScript_s.test(src_s) ? src_s : 'bitrix/templates/' + src_s;
		link(rel='stylesheet', href=src_s)

mixin style()
	- var args_s = arguments;
	each styles, i in args_s
		each src_s in styles
			- var index_s = args_s[1] === true ? 2 : i === 0 ? 1 : 0;
			if pageStyles[index_s].indexOf(src_s) === -1
				- pageStyles[index_s].push(src_s);

mixin styles()
	+renderStyle([].concat.apply([], pageStyles))


mixin addStyle(dir)
	- var dirToStr = dir.toString().split(',');
	- listStyles.push(dirToStr);