/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ico-0466-pinterest2-name: 'ico-0466-pinterest2';
$ico-0466-pinterest2-x: 53px;
$ico-0466-pinterest2-y: 0px;
$ico-0466-pinterest2-offset-x: -53px;
$ico-0466-pinterest2-offset-y: 0px;
$ico-0466-pinterest2-width: 48px;
$ico-0466-pinterest2-height: 48px;
$ico-0466-pinterest2-total-width: 260px;
$ico-0466-pinterest2-total-height: 207px;
$ico-0466-pinterest2-image: 'sprite.png';
$ico-0466-pinterest2: (53px, 0px, -53px, 0px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-0466-pinterest2', );
$ico-0467-xing-name: 'ico-0467-xing';
$ico-0467-xing-x: 159px;
$ico-0467-xing-y: 53px;
$ico-0467-xing-offset-x: -159px;
$ico-0467-xing-offset-y: -53px;
$ico-0467-xing-width: 48px;
$ico-0467-xing-height: 48px;
$ico-0467-xing-total-width: 260px;
$ico-0467-xing-total-height: 207px;
$ico-0467-xing-image: 'sprite.png';
$ico-0467-xing: (159px, 53px, -159px, -53px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-0467-xing', );
$ico-0468-xing2-name: 'ico-0468-xing2';
$ico-0468-xing2-x: 0px;
$ico-0468-xing2-y: 53px;
$ico-0468-xing2-offset-x: 0px;
$ico-0468-xing2-offset-y: -53px;
$ico-0468-xing2-width: 48px;
$ico-0468-xing2-height: 48px;
$ico-0468-xing2-total-width: 260px;
$ico-0468-xing2-total-height: 207px;
$ico-0468-xing2-image: 'sprite.png';
$ico-0468-xing2: (0px, 53px, 0px, -53px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-0468-xing2', );
$ico-0469-flattr-name: 'ico-0469-flattr';
$ico-0469-flattr-x: 53px;
$ico-0469-flattr-y: 53px;
$ico-0469-flattr-offset-x: -53px;
$ico-0469-flattr-offset-y: -53px;
$ico-0469-flattr-width: 48px;
$ico-0469-flattr-height: 48px;
$ico-0469-flattr-total-width: 260px;
$ico-0469-flattr-total-height: 207px;
$ico-0469-flattr-image: 'sprite.png';
$ico-0469-flattr: (53px, 53px, -53px, -53px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-0469-flattr', );
$ico-0471-paypal-name: 'ico-0471-paypal';
$ico-0471-paypal-x: 106px;
$ico-0471-paypal-y: 0px;
$ico-0471-paypal-offset-x: -106px;
$ico-0471-paypal-offset-y: 0px;
$ico-0471-paypal-width: 48px;
$ico-0471-paypal-height: 48px;
$ico-0471-paypal-total-width: 260px;
$ico-0471-paypal-total-height: 207px;
$ico-0471-paypal-image: 'sprite.png';
$ico-0471-paypal: (106px, 0px, -106px, 0px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-0471-paypal', );
$ico-0472-paypal2-name: 'ico-0472-paypal2';
$ico-0472-paypal2-x: 106px;
$ico-0472-paypal2-y: 53px;
$ico-0472-paypal2-offset-x: -106px;
$ico-0472-paypal2-offset-y: -53px;
$ico-0472-paypal2-width: 48px;
$ico-0472-paypal2-height: 48px;
$ico-0472-paypal2-total-width: 260px;
$ico-0472-paypal2-total-height: 207px;
$ico-0472-paypal2-image: 'sprite.png';
$ico-0472-paypal2: (106px, 53px, -106px, -53px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-0472-paypal2', );
$ico-0473-paypal3-name: 'ico-0473-paypal3';
$ico-0473-paypal3-x: 0px;
$ico-0473-paypal3-y: 106px;
$ico-0473-paypal3-offset-x: 0px;
$ico-0473-paypal3-offset-y: -106px;
$ico-0473-paypal3-width: 48px;
$ico-0473-paypal3-height: 48px;
$ico-0473-paypal3-total-width: 260px;
$ico-0473-paypal3-total-height: 207px;
$ico-0473-paypal3-image: 'sprite.png';
$ico-0473-paypal3: (0px, 106px, 0px, -106px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-0473-paypal3', );
$ico-0476-file-openoffice-name: 'ico-0476-file-openoffice';
$ico-0476-file-openoffice-x: 53px;
$ico-0476-file-openoffice-y: 106px;
$ico-0476-file-openoffice-offset-x: -53px;
$ico-0476-file-openoffice-offset-y: -106px;
$ico-0476-file-openoffice-width: 48px;
$ico-0476-file-openoffice-height: 48px;
$ico-0476-file-openoffice-total-width: 260px;
$ico-0476-file-openoffice-total-height: 207px;
$ico-0476-file-openoffice-image: 'sprite.png';
$ico-0476-file-openoffice: (53px, 106px, -53px, -106px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-0476-file-openoffice', );
$ico-0481-html52-name: 'ico-0481-html52';
$ico-0481-html52-x: 106px;
$ico-0481-html52-y: 106px;
$ico-0481-html52-offset-x: -106px;
$ico-0481-html52-offset-y: -106px;
$ico-0481-html52-width: 48px;
$ico-0481-html52-height: 48px;
$ico-0481-html52-total-width: 260px;
$ico-0481-html52-total-height: 207px;
$ico-0481-html52-image: 'sprite.png';
$ico-0481-html52: (106px, 106px, -106px, -106px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-0481-html52', );
$ico-0482-css3-name: 'ico-0482-css3';
$ico-0482-css3-x: 159px;
$ico-0482-css3-y: 0px;
$ico-0482-css3-offset-x: -159px;
$ico-0482-css3-offset-y: 0px;
$ico-0482-css3-width: 48px;
$ico-0482-css3-height: 48px;
$ico-0482-css3-total-width: 260px;
$ico-0482-css3-total-height: 207px;
$ico-0482-css3-image: 'sprite.png';
$ico-0482-css3: (159px, 0px, -159px, 0px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-0482-css3', );
$ico-0483-git-name: 'ico-0483-git';
$ico-0483-git-x: 0px;
$ico-0483-git-y: 0px;
$ico-0483-git-offset-x: 0px;
$ico-0483-git-offset-y: 0px;
$ico-0483-git-width: 48px;
$ico-0483-git-height: 48px;
$ico-0483-git-total-width: 260px;
$ico-0483-git-total-height: 207px;
$ico-0483-git-image: 'sprite.png';
$ico-0483-git: (0px, 0px, 0px, 0px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-0483-git', );
$ico-chrome-name: 'ico-chrome';
$ico-chrome-x: 159px;
$ico-chrome-y: 106px;
$ico-chrome-offset-x: -159px;
$ico-chrome-offset-y: -106px;
$ico-chrome-width: 48px;
$ico-chrome-height: 48px;
$ico-chrome-total-width: 260px;
$ico-chrome-total-height: 207px;
$ico-chrome-image: 'sprite.png';
$ico-chrome: (159px, 106px, -159px, -106px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-chrome', );
$ico-file-excel-name: 'ico-file-excel';
$ico-file-excel-x: 0px;
$ico-file-excel-y: 159px;
$ico-file-excel-offset-x: 0px;
$ico-file-excel-offset-y: -159px;
$ico-file-excel-width: 48px;
$ico-file-excel-height: 48px;
$ico-file-excel-total-width: 260px;
$ico-file-excel-total-height: 207px;
$ico-file-excel-image: 'sprite.png';
$ico-file-excel: (0px, 159px, 0px, -159px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-file-excel', );
$ico-file-word-name: 'ico-file-word';
$ico-file-word-x: 53px;
$ico-file-word-y: 159px;
$ico-file-word-offset-x: -53px;
$ico-file-word-offset-y: -159px;
$ico-file-word-width: 48px;
$ico-file-word-height: 48px;
$ico-file-word-total-width: 260px;
$ico-file-word-total-height: 207px;
$ico-file-word-image: 'sprite.png';
$ico-file-word: (53px, 159px, -53px, -159px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-file-word', );
$ico-firefox-name: 'ico-firefox';
$ico-firefox-x: 106px;
$ico-firefox-y: 159px;
$ico-firefox-offset-x: -106px;
$ico-firefox-offset-y: -159px;
$ico-firefox-width: 48px;
$ico-firefox-height: 48px;
$ico-firefox-total-width: 260px;
$ico-firefox-total-height: 207px;
$ico-firefox-image: 'sprite.png';
$ico-firefox: (106px, 159px, -106px, -159px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-firefox', );
$ico-foursquare-name: 'ico-foursquare';
$ico-foursquare-x: 159px;
$ico-foursquare-y: 159px;
$ico-foursquare-offset-x: -159px;
$ico-foursquare-offset-y: -159px;
$ico-foursquare-width: 48px;
$ico-foursquare-height: 48px;
$ico-foursquare-total-width: 260px;
$ico-foursquare-total-height: 207px;
$ico-foursquare-image: 'sprite.png';
$ico-foursquare: (159px, 159px, -159px, -159px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-foursquare', );
$ico-html5-name: 'ico-html5';
$ico-html5-x: 212px;
$ico-html5-y: 0px;
$ico-html5-offset-x: -212px;
$ico-html5-offset-y: 0px;
$ico-html5-width: 48px;
$ico-html5-height: 48px;
$ico-html5-total-width: 260px;
$ico-html5-total-height: 207px;
$ico-html5-image: 'sprite.png';
$ico-html5: (212px, 0px, -212px, 0px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-html5', );
$ico-pinterest-name: 'ico-pinterest';
$ico-pinterest-x: 212px;
$ico-pinterest-y: 53px;
$ico-pinterest-offset-x: -212px;
$ico-pinterest-offset-y: -53px;
$ico-pinterest-width: 48px;
$ico-pinterest-height: 48px;
$ico-pinterest-total-width: 260px;
$ico-pinterest-total-height: 207px;
$ico-pinterest-image: 'sprite.png';
$ico-pinterest: (212px, 53px, -212px, -53px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-pinterest', );
$ico-svg-name: 'ico-svg';
$ico-svg-x: 212px;
$ico-svg-y: 106px;
$ico-svg-offset-x: -212px;
$ico-svg-offset-y: -106px;
$ico-svg-width: 48px;
$ico-svg-height: 48px;
$ico-svg-total-width: 260px;
$ico-svg-total-height: 207px;
$ico-svg-image: 'sprite.png';
$ico-svg: (212px, 106px, -212px, -106px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-svg', );
$ico-yelp-name: 'ico-yelp';
$ico-yelp-x: 212px;
$ico-yelp-y: 159px;
$ico-yelp-offset-x: -212px;
$ico-yelp-offset-y: -159px;
$ico-yelp-width: 48px;
$ico-yelp-height: 48px;
$ico-yelp-total-width: 260px;
$ico-yelp-total-height: 207px;
$ico-yelp-image: 'sprite.png';
$ico-yelp: (212px, 159px, -212px, -159px, 48px, 48px, 260px, 207px, 'sprite.png', 'ico-yelp', );
$spritesheet-width: 260px;
$spritesheet-height: 207px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($ico-0466-pinterest2, $ico-0467-xing, $ico-0468-xing2, $ico-0469-flattr, $ico-0471-paypal, $ico-0472-paypal2, $ico-0473-paypal3, $ico-0476-file-openoffice, $ico-0481-html52, $ico-0482-css3, $ico-0483-git, $ico-chrome, $ico-file-excel, $ico-file-word, $ico-firefox, $ico-foursquare, $ico-html5, $ico-pinterest, $ico-svg, $ico-yelp, );
$spritesheet: (260px, 207px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
