extends bitrix/templates/dvt.name/jade/_default

block content
	// #WORKAREA#
	include bitrix/templates/dvt.name/components/cmp_ns/cmp_name/tpl_example/template
	include bitrix/templates/dvt.name/components/cmp_ns1/cmp_name/tpl_example/template
	// #END-WORKAREA#