<link rel="stylesheet" href="templ_ex.css" />
<link rel="stylesheet" href="templ_ex1.css" />
<h1>Component loaded2</h1><img src="bitrix/templates/dvt.name/components/cmp_ns1/cmp_name/tpl_example/images/sprite.png" alt="" />