/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ico-fb-name: 'ico-fb';
$ico-fb-x: 0px;
$ico-fb-y: 0px;
$ico-fb-offset-x: 0px;
$ico-fb-offset-y: 0px;
$ico-fb-width: 19px;
$ico-fb-height: 19px;
$ico-fb-total-width: 67px;
$ico-fb-total-height: 62px;
$ico-fb-image: 'sprite.png';
$ico-fb: (0px, 0px, 0px, 0px, 19px, 19px, 67px, 62px, 'sprite.png', 'ico-fb', );
$ico-geo-name: 'ico-geo';
$ico-geo-x: 0px;
$ico-geo-y: 48px;
$ico-geo-offset-x: 0px;
$ico-geo-offset-y: -48px;
$ico-geo-width: 10px;
$ico-geo-height: 14px;
$ico-geo-total-width: 67px;
$ico-geo-total-height: 62px;
$ico-geo-image: 'sprite.png';
$ico-geo: (0px, 48px, 0px, -48px, 10px, 14px, 67px, 62px, 'sprite.png', 'ico-geo', );
$ico-gp-name: 'ico-gp';
$ico-gp-x: 24px;
$ico-gp-y: 0px;
$ico-gp-offset-x: -24px;
$ico-gp-offset-y: 0px;
$ico-gp-width: 19px;
$ico-gp-height: 19px;
$ico-gp-total-width: 67px;
$ico-gp-total-height: 62px;
$ico-gp-image: 'sprite.png';
$ico-gp: (24px, 0px, -24px, 0px, 19px, 19px, 67px, 62px, 'sprite.png', 'ico-gp', );
$ico-mail-name: 'ico-mail';
$ico-mail-x: 15px;
$ico-mail-y: 48px;
$ico-mail-offset-x: -15px;
$ico-mail-offset-y: -48px;
$ico-mail-width: 11px;
$ico-mail-height: 12px;
$ico-mail-total-width: 67px;
$ico-mail-total-height: 62px;
$ico-mail-image: 'sprite.png';
$ico-mail: (15px, 48px, -15px, -48px, 11px, 12px, 67px, 62px, 'sprite.png', 'ico-mail', );
$ico-odn-name: 'ico-odn';
$ico-odn-x: 0px;
$ico-odn-y: 24px;
$ico-odn-offset-x: 0px;
$ico-odn-offset-y: -24px;
$ico-odn-width: 19px;
$ico-odn-height: 19px;
$ico-odn-total-width: 67px;
$ico-odn-total-height: 62px;
$ico-odn-image: 'sprite.png';
$ico-odn: (0px, 24px, 0px, -24px, 19px, 19px, 67px, 62px, 'sprite.png', 'ico-odn', );
$ico-phone-name: 'ico-phone';
$ico-phone-x: 48px;
$ico-phone-y: 24px;
$ico-phone-offset-x: -48px;
$ico-phone-offset-y: -24px;
$ico-phone-width: 12px;
$ico-phone-height: 13px;
$ico-phone-total-width: 67px;
$ico-phone-total-height: 62px;
$ico-phone-image: 'sprite.png';
$ico-phone: (48px, 24px, -48px, -24px, 12px, 13px, 67px, 62px, 'sprite.png', 'ico-phone', );
$ico-tw-name: 'ico-tw';
$ico-tw-x: 24px;
$ico-tw-y: 24px;
$ico-tw-offset-x: -24px;
$ico-tw-offset-y: -24px;
$ico-tw-width: 19px;
$ico-tw-height: 19px;
$ico-tw-total-width: 67px;
$ico-tw-total-height: 62px;
$ico-tw-image: 'sprite.png';
$ico-tw: (24px, 24px, -24px, -24px, 19px, 19px, 67px, 62px, 'sprite.png', 'ico-tw', );
$ico-vk-name: 'ico-vk';
$ico-vk-x: 48px;
$ico-vk-y: 0px;
$ico-vk-offset-x: -48px;
$ico-vk-offset-y: 0px;
$ico-vk-width: 19px;
$ico-vk-height: 19px;
$ico-vk-total-width: 67px;
$ico-vk-total-height: 62px;
$ico-vk-image: 'sprite.png';
$ico-vk: (48px, 0px, -48px, 0px, 19px, 19px, 67px, 62px, 'sprite.png', 'ico-vk', );
$spritesheet-width: 67px;
$spritesheet-height: 62px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($ico-fb, $ico-geo, $ico-gp, $ico-mail, $ico-odn, $ico-phone, $ico-tw, $ico-vk, );
$spritesheet: (67px, 62px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
