/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ico-0440-wordpress2-name: 'ico-0440-wordpress2';
$ico-0440-wordpress2-x: 53px;
$ico-0440-wordpress2-y: 0px;
$ico-0440-wordpress2-offset-x: -53px;
$ico-0440-wordpress2-offset-y: 0px;
$ico-0440-wordpress2-width: 48px;
$ico-0440-wordpress2-height: 48px;
$ico-0440-wordpress2-total-width: 260px;
$ico-0440-wordpress2-total-height: 260px;
$ico-0440-wordpress2-image: 'sprite.png';
$ico-0440-wordpress2: (53px, 0px, -53px, 0px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0440-wordpress2', );
$ico-0441-joomla-name: 'ico-0441-joomla';
$ico-0441-joomla-x: 0px;
$ico-0441-joomla-y: 159px;
$ico-0441-joomla-offset-x: 0px;
$ico-0441-joomla-offset-y: -159px;
$ico-0441-joomla-width: 48px;
$ico-0441-joomla-height: 48px;
$ico-0441-joomla-total-width: 260px;
$ico-0441-joomla-total-height: 260px;
$ico-0441-joomla-image: 'sprite.png';
$ico-0441-joomla: (0px, 159px, 0px, -159px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0441-joomla', );
$ico-0442-blogger-name: 'ico-0442-blogger';
$ico-0442-blogger-x: 0px;
$ico-0442-blogger-y: 53px;
$ico-0442-blogger-offset-x: 0px;
$ico-0442-blogger-offset-y: -53px;
$ico-0442-blogger-width: 48px;
$ico-0442-blogger-height: 48px;
$ico-0442-blogger-total-width: 260px;
$ico-0442-blogger-total-height: 260px;
$ico-0442-blogger-image: 'sprite.png';
$ico-0442-blogger: (0px, 53px, 0px, -53px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0442-blogger', );
$ico-0443-blogger2-name: 'ico-0443-blogger2';
$ico-0443-blogger2-x: 53px;
$ico-0443-blogger2-y: 53px;
$ico-0443-blogger2-offset-x: -53px;
$ico-0443-blogger2-offset-y: -53px;
$ico-0443-blogger2-width: 48px;
$ico-0443-blogger2-height: 48px;
$ico-0443-blogger2-total-width: 260px;
$ico-0443-blogger2-total-height: 260px;
$ico-0443-blogger2-image: 'sprite.png';
$ico-0443-blogger2: (53px, 53px, -53px, -53px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0443-blogger2', );
$ico-0444-tumblr-name: 'ico-0444-tumblr';
$ico-0444-tumblr-x: 106px;
$ico-0444-tumblr-y: 0px;
$ico-0444-tumblr-offset-x: -106px;
$ico-0444-tumblr-offset-y: 0px;
$ico-0444-tumblr-width: 48px;
$ico-0444-tumblr-height: 48px;
$ico-0444-tumblr-total-width: 260px;
$ico-0444-tumblr-total-height: 260px;
$ico-0444-tumblr-image: 'sprite.png';
$ico-0444-tumblr: (106px, 0px, -106px, 0px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0444-tumblr', );
$ico-0445-tumblr2-name: 'ico-0445-tumblr2';
$ico-0445-tumblr2-x: 106px;
$ico-0445-tumblr2-y: 53px;
$ico-0445-tumblr2-offset-x: -106px;
$ico-0445-tumblr2-offset-y: -53px;
$ico-0445-tumblr2-width: 48px;
$ico-0445-tumblr2-height: 48px;
$ico-0445-tumblr2-total-width: 260px;
$ico-0445-tumblr2-total-height: 260px;
$ico-0445-tumblr2-image: 'sprite.png';
$ico-0445-tumblr2: (106px, 53px, -106px, -53px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0445-tumblr2', );
$ico-0446-yahoo-name: 'ico-0446-yahoo';
$ico-0446-yahoo-x: 0px;
$ico-0446-yahoo-y: 106px;
$ico-0446-yahoo-offset-x: 0px;
$ico-0446-yahoo-offset-y: -106px;
$ico-0446-yahoo-width: 48px;
$ico-0446-yahoo-height: 48px;
$ico-0446-yahoo-total-width: 260px;
$ico-0446-yahoo-total-height: 260px;
$ico-0446-yahoo-image: 'sprite.png';
$ico-0446-yahoo: (0px, 106px, 0px, -106px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0446-yahoo', );
$ico-0447-tux-name: 'ico-0447-tux';
$ico-0447-tux-x: 53px;
$ico-0447-tux-y: 106px;
$ico-0447-tux-offset-x: -53px;
$ico-0447-tux-offset-y: -106px;
$ico-0447-tux-width: 48px;
$ico-0447-tux-height: 48px;
$ico-0447-tux-total-width: 260px;
$ico-0447-tux-total-height: 260px;
$ico-0447-tux-image: 'sprite.png';
$ico-0447-tux: (53px, 106px, -53px, -106px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0447-tux', );
$ico-0448-apple-name: 'ico-0448-apple';
$ico-0448-apple-x: 106px;
$ico-0448-apple-y: 106px;
$ico-0448-apple-offset-x: -106px;
$ico-0448-apple-offset-y: -106px;
$ico-0448-apple-width: 48px;
$ico-0448-apple-height: 48px;
$ico-0448-apple-total-width: 260px;
$ico-0448-apple-total-height: 260px;
$ico-0448-apple-image: 'sprite.png';
$ico-0448-apple: (106px, 106px, -106px, -106px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0448-apple', );
$ico-0449-finder-name: 'ico-0449-finder';
$ico-0449-finder-x: 159px;
$ico-0449-finder-y: 0px;
$ico-0449-finder-offset-x: -159px;
$ico-0449-finder-offset-y: 0px;
$ico-0449-finder-width: 48px;
$ico-0449-finder-height: 48px;
$ico-0449-finder-total-width: 260px;
$ico-0449-finder-total-height: 260px;
$ico-0449-finder-image: 'sprite.png';
$ico-0449-finder: (159px, 0px, -159px, 0px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0449-finder', );
$ico-0450-android-name: 'ico-0450-android';
$ico-0450-android-x: 159px;
$ico-0450-android-y: 53px;
$ico-0450-android-offset-x: -159px;
$ico-0450-android-offset-y: -53px;
$ico-0450-android-width: 48px;
$ico-0450-android-height: 48px;
$ico-0450-android-total-width: 260px;
$ico-0450-android-total-height: 260px;
$ico-0450-android-image: 'sprite.png';
$ico-0450-android: (159px, 53px, -159px, -53px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0450-android', );
$ico-0451-windows-name: 'ico-0451-windows';
$ico-0451-windows-x: 159px;
$ico-0451-windows-y: 106px;
$ico-0451-windows-offset-x: -159px;
$ico-0451-windows-offset-y: -106px;
$ico-0451-windows-width: 48px;
$ico-0451-windows-height: 48px;
$ico-0451-windows-total-width: 260px;
$ico-0451-windows-total-height: 260px;
$ico-0451-windows-image: 'sprite.png';
$ico-0451-windows: (159px, 106px, -159px, -106px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0451-windows', );
$ico-0452-windows8-name: 'ico-0452-windows8';
$ico-0452-windows8-x: 0px;
$ico-0452-windows8-y: 0px;
$ico-0452-windows8-offset-x: 0px;
$ico-0452-windows8-offset-y: 0px;
$ico-0452-windows8-width: 48px;
$ico-0452-windows8-height: 48px;
$ico-0452-windows8-total-width: 260px;
$ico-0452-windows8-total-height: 260px;
$ico-0452-windows8-image: 'sprite.png';
$ico-0452-windows8: (0px, 0px, 0px, 0px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0452-windows8', );
$ico-0453-soundcloud-name: 'ico-0453-soundcloud';
$ico-0453-soundcloud-x: 53px;
$ico-0453-soundcloud-y: 159px;
$ico-0453-soundcloud-offset-x: -53px;
$ico-0453-soundcloud-offset-y: -159px;
$ico-0453-soundcloud-width: 48px;
$ico-0453-soundcloud-height: 48px;
$ico-0453-soundcloud-total-width: 260px;
$ico-0453-soundcloud-total-height: 260px;
$ico-0453-soundcloud-image: 'sprite.png';
$ico-0453-soundcloud: (53px, 159px, -53px, -159px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0453-soundcloud', );
$ico-0454-soundcloud2-name: 'ico-0454-soundcloud2';
$ico-0454-soundcloud2-x: 106px;
$ico-0454-soundcloud2-y: 159px;
$ico-0454-soundcloud2-offset-x: -106px;
$ico-0454-soundcloud2-offset-y: -159px;
$ico-0454-soundcloud2-width: 48px;
$ico-0454-soundcloud2-height: 48px;
$ico-0454-soundcloud2-total-width: 260px;
$ico-0454-soundcloud2-total-height: 260px;
$ico-0454-soundcloud2-image: 'sprite.png';
$ico-0454-soundcloud2: (106px, 159px, -106px, -159px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0454-soundcloud2', );
$ico-0455-skype-name: 'ico-0455-skype';
$ico-0455-skype-x: 159px;
$ico-0455-skype-y: 159px;
$ico-0455-skype-offset-x: -159px;
$ico-0455-skype-offset-y: -159px;
$ico-0455-skype-width: 48px;
$ico-0455-skype-height: 48px;
$ico-0455-skype-total-width: 260px;
$ico-0455-skype-total-height: 260px;
$ico-0455-skype-image: 'sprite.png';
$ico-0455-skype: (159px, 159px, -159px, -159px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0455-skype', );
$ico-0456-reddit-name: 'ico-0456-reddit';
$ico-0456-reddit-x: 212px;
$ico-0456-reddit-y: 0px;
$ico-0456-reddit-offset-x: -212px;
$ico-0456-reddit-offset-y: 0px;
$ico-0456-reddit-width: 48px;
$ico-0456-reddit-height: 48px;
$ico-0456-reddit-total-width: 260px;
$ico-0456-reddit-total-height: 260px;
$ico-0456-reddit-image: 'sprite.png';
$ico-0456-reddit: (212px, 0px, -212px, 0px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0456-reddit', );
$ico-0457-linkedin-name: 'ico-0457-linkedin';
$ico-0457-linkedin-x: 212px;
$ico-0457-linkedin-y: 53px;
$ico-0457-linkedin-offset-x: -212px;
$ico-0457-linkedin-offset-y: -53px;
$ico-0457-linkedin-width: 48px;
$ico-0457-linkedin-height: 48px;
$ico-0457-linkedin-total-width: 260px;
$ico-0457-linkedin-total-height: 260px;
$ico-0457-linkedin-image: 'sprite.png';
$ico-0457-linkedin: (212px, 53px, -212px, -53px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0457-linkedin', );
$ico-0458-linkedin2-name: 'ico-0458-linkedin2';
$ico-0458-linkedin2-x: 212px;
$ico-0458-linkedin2-y: 106px;
$ico-0458-linkedin2-offset-x: -212px;
$ico-0458-linkedin2-offset-y: -106px;
$ico-0458-linkedin2-width: 48px;
$ico-0458-linkedin2-height: 48px;
$ico-0458-linkedin2-total-width: 260px;
$ico-0458-linkedin2-total-height: 260px;
$ico-0458-linkedin2-image: 'sprite.png';
$ico-0458-linkedin2: (212px, 106px, -212px, -106px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0458-linkedin2', );
$ico-0459-lastfm-name: 'ico-0459-lastfm';
$ico-0459-lastfm-x: 212px;
$ico-0459-lastfm-y: 159px;
$ico-0459-lastfm-offset-x: -212px;
$ico-0459-lastfm-offset-y: -159px;
$ico-0459-lastfm-width: 48px;
$ico-0459-lastfm-height: 48px;
$ico-0459-lastfm-total-width: 260px;
$ico-0459-lastfm-total-height: 260px;
$ico-0459-lastfm-image: 'sprite.png';
$ico-0459-lastfm: (212px, 159px, -212px, -159px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0459-lastfm', );
$ico-0460-lastfm2-name: 'ico-0460-lastfm2';
$ico-0460-lastfm2-x: 0px;
$ico-0460-lastfm2-y: 212px;
$ico-0460-lastfm2-offset-x: 0px;
$ico-0460-lastfm2-offset-y: -212px;
$ico-0460-lastfm2-width: 48px;
$ico-0460-lastfm2-height: 48px;
$ico-0460-lastfm2-total-width: 260px;
$ico-0460-lastfm2-total-height: 260px;
$ico-0460-lastfm2-image: 'sprite.png';
$ico-0460-lastfm2: (0px, 212px, 0px, -212px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0460-lastfm2', );
$ico-0461-delicious-name: 'ico-0461-delicious';
$ico-0461-delicious-x: 53px;
$ico-0461-delicious-y: 212px;
$ico-0461-delicious-offset-x: -53px;
$ico-0461-delicious-offset-y: -212px;
$ico-0461-delicious-width: 48px;
$ico-0461-delicious-height: 48px;
$ico-0461-delicious-total-width: 260px;
$ico-0461-delicious-total-height: 260px;
$ico-0461-delicious-image: 'sprite.png';
$ico-0461-delicious: (53px, 212px, -53px, -212px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0461-delicious', );
$ico-0462-stumbleupon-name: 'ico-0462-stumbleupon';
$ico-0462-stumbleupon-x: 106px;
$ico-0462-stumbleupon-y: 212px;
$ico-0462-stumbleupon-offset-x: -106px;
$ico-0462-stumbleupon-offset-y: -212px;
$ico-0462-stumbleupon-width: 48px;
$ico-0462-stumbleupon-height: 48px;
$ico-0462-stumbleupon-total-width: 260px;
$ico-0462-stumbleupon-total-height: 260px;
$ico-0462-stumbleupon-image: 'sprite.png';
$ico-0462-stumbleupon: (106px, 212px, -106px, -212px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0462-stumbleupon', );
$ico-0463-stumbleupon2-name: 'ico-0463-stumbleupon2';
$ico-0463-stumbleupon2-x: 159px;
$ico-0463-stumbleupon2-y: 212px;
$ico-0463-stumbleupon2-offset-x: -159px;
$ico-0463-stumbleupon2-offset-y: -212px;
$ico-0463-stumbleupon2-width: 48px;
$ico-0463-stumbleupon2-height: 48px;
$ico-0463-stumbleupon2-total-width: 260px;
$ico-0463-stumbleupon2-total-height: 260px;
$ico-0463-stumbleupon2-image: 'sprite.png';
$ico-0463-stumbleupon2: (159px, 212px, -159px, -212px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0463-stumbleupon2', );
$ico-0464-stackoverflow-name: 'ico-0464-stackoverflow';
$ico-0464-stackoverflow-x: 212px;
$ico-0464-stackoverflow-y: 212px;
$ico-0464-stackoverflow-offset-x: -212px;
$ico-0464-stackoverflow-offset-y: -212px;
$ico-0464-stackoverflow-width: 48px;
$ico-0464-stackoverflow-height: 48px;
$ico-0464-stackoverflow-total-width: 260px;
$ico-0464-stackoverflow-total-height: 260px;
$ico-0464-stackoverflow-image: 'sprite.png';
$ico-0464-stackoverflow: (212px, 212px, -212px, -212px, 48px, 48px, 260px, 260px, 'sprite.png', 'ico-0464-stackoverflow', );
$spritesheet-width: 260px;
$spritesheet-height: 260px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($ico-0440-wordpress2, $ico-0441-joomla, $ico-0442-blogger, $ico-0443-blogger2, $ico-0444-tumblr, $ico-0445-tumblr2, $ico-0446-yahoo, $ico-0447-tux, $ico-0448-apple, $ico-0449-finder, $ico-0450-android, $ico-0451-windows, $ico-0452-windows8, $ico-0453-soundcloud, $ico-0454-soundcloud2, $ico-0455-skype, $ico-0456-reddit, $ico-0457-linkedin, $ico-0458-linkedin2, $ico-0459-lastfm, $ico-0460-lastfm2, $ico-0461-delicious, $ico-0462-stumbleupon, $ico-0463-stumbleupon2, $ico-0464-stackoverflow, );
$spritesheet: (260px, 260px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
